<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ew reply notification Email</title>
  </head>
  <body>
    <h1>Welcome, <%= name %>!</h1>
    <p>
      someone have answered your question, in video <%= title %> have a look
    </p>
    <p class=""><%= question %></p>
    <p class=""><%= answer %></p>
    <p>
      Regards,<br />
      Your Website Team
    </p>
  </body>
</html>
